<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:replace="~{base :: titulo}">Título</title>
</head>
<body>
	<div th:replace="~{base :: encabezado}">Encabezado</div>

	<nav th:replace="~{base :: menu}">Menu</nav>

	<h2>
		Profesores | Clases de <span
			th:text="${profesor.nombre + ' ' + profesor.apellidos">Nombre</span>
	</h2>

	<table style="background: black; border-spacing: 1px">
		<thead style="background: lightgray">
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Especialidad</th>
				<th>Clases</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody style="background: white">
			<tr th:each="clase : ${profesor.clases}" th:object="${clase}">
				<td th:text="*{fecha}">11-11-2011</td>
				<td th:text="*{duracion + ' minutos'}">12</td>
				<td th:text="*{alumno.nombre + ' ' + alumno.apellidos}">López</td>
			</tr>
		</tbody>
	</table>

	<div style="margin: 1em">
		<a th:href="@{..}">Regresar</a>
	</div>
</body>
</html>